td {
    border-color: transparent !important;
}

tr {
    box-shadow: none !important;
}

tbody {
    border-color: transparent !important;
}

thead {
    border-color: transparent !important;
}

th {
    border-color: transparent !important;
}