.selectedWordInfoPanel {
  position: fixed; /* Fixed position to stay at the bottom */
  bottom: 0; /* Align to the bottom of the viewport */
  width: 98%; /* Full width */
  transform: translateY(100%); /* Start off-screen */
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding effect */
  z-index: 100;
  /* Add a horizontal and vertical offset, a blur radius, and a color for the shadow */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */

  /* Option 1: Add a border */
  border: 1.6px solid #b8b8b8; /* Light gray border */

  /* Option 2: Differentiate with a background color */

  /* Option 3: Inset shadow */
  box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}

.panelVisible {
  transform: translateY(0); /* Slide into view */
}

.panelHidden {
  transform: translateY(100%); /* Slide out of view */
}

.selected-word {
  font-size: 1.65rem;
  font-weight: 700;
}

.selected-word-definition {
  font-size: 1.05rem;
  font-weight: 400;
  color: rgb(88, 88, 88);
  padding-bottom: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  max-height: 105px;
}

.word-stat-label {
  font-weight: 600;
  font-size: 1.15rem;
}

.word-stat-value {
  font-weight: 600;
  font-size: 1.15rem;
}


.word-rarity-div {
  font-weight: 600;
  font-size: 1.7rem;
}