.selectedWordInfoPanel {
  position: fixed; /* Fixed position to stay at the bottom */
  bottom: 0; /* Align to the bottom of the viewport */
  width: 98%; /* Full width */
  transform: translateY(100%); /* Start off-screen */
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding effect */
  z-index: 100;
  /* Add a horizontal and vertical offset, a blur radius, and a color for the shadow */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */

  /* Option 1: Add a border */
  border: 1.4px solid #dcdcdc; /* Light gray border */

  /* Option 2: Differentiate with a background color */
  

  /* Option 3: Inset shadow */
  box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}

.panelVisible {
  transform: translateY(0); /* Slide into view */
}

.panelHidden {
  transform: translateY(100%); /* Slide out of view */
}

.selected-word {
  font-size: 1.4rem;
  font-weight: 700;
}

.selected-word-definition {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(88, 88, 88);
}
