# This file lists the dependencies necessary to run the Boggle Vision API.

fastapi==0.103.1
pydantic==2.4.0
uvicorn==0.23.2
pandas==2.1.0
flask-cors==4.0.0
opencv-python-headless==4.8.0.76
matplotlib==3.7.2
